{% extends 'base.html' %}


{% block page_title %}
{{menu.name}}
{% endblock page_title %}


{% block content %}

<div class="menu-detail">
    <p><img src="{{menu.first_photo}}" style="width: 300px;"></p>
    <p><b>Name: </b>{{menu.name}}</p>
    <p><b>Description: </b>{{menu.description}}</p>
    <p><b>Price: </b>{{menu.price}}</p>
    <p><b>Offered by: </b><a href="{{menu.business.get_absolute_url}}">{{menu.business}}</a> /
        {{menu.business.total_rating}}
    </p>
    <p>
        <b>Owner: </b><a href="{{menu.business.owner.get_absolute_url}}">{{menu.business.owner}}</a>

        {% if menu.business.owner.pk != user.pk %}
        <a href="{% url 'conversations:go' menu.business.owner.pk user.pk %}">(Send a message)</a>
        {% endif %}

    </p>
    <p><b>Available State: </b>{{menu.business.state}}</p>
    <p><b>Food Type: </b>
        {% for f in menu.food_type.all %}
        {% if forloop.last %}
        {{ f }}
        {% else %}
        {{ f }},
        {% endif %}
        {% endfor %}
    </p>
    <p><b>Stock: </b>
        {{menu.stock}}
    </p>

    {% if user.pk == menu.business.owner.pk %}
    <p><a href="{% url 'menus:update-menu' menu.pk %}">Update menu</a></p>
    {% else %}
    <p><a href="{% url 'lists:add-to-list' menu.pk %}"><button>Add to my favorite list</button></a></p>
    <p><a href="{% url 'purchases:order' menu.pk %}"><button>Purchase</button></a></p>
    {% endif %}

</div>

{% endblock content %}