{% extends 'base.html' %}


{% block page_title %}
{{menu.name}}
{% endblock page_title %}


{% block content %}

<div class="menu-detail">
    <p><img src="{{menu.first_photo}}" style="width: 300px;"></p>
    <p><b>Name: </b>{{menu.name}}</p>
    <p><b>Description: </b>{{menu.description}}</p>
    <p><b>Price: </b>{{menu.price}}</p>
    <p><b>Offered by: </b><a href="{{menu.business.get_absolute_url}}">{{menu.business}}</a> /
        {{menu.business.total_rating}}
    </p>
    <p><b>Available State: </b>{{menu.business.state}}</p>
    <p><b>Food Type: </b>
        {% for f in menu.food_type.all %}
        {% if forloop.last %}
        {{ f }}
        {% else %}
        {{ f }},
        {% endif %}
        {% endfor %}
    </p>
    <p><b>Stock: </b>
        {{menu.stock}}
    </p>
</div>

{% endblock content %}