{% extends 'base.html' %}


{% block page_title %}

Home

{% endblock page_title %}


{% block content %}

{% for menu in menus %}
<p><a href="{% url 'menus:detail' menu.pk %}">{{menu}} / {{menu.stock}} available</a></p>
{% endfor %}

{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}">
    PRV
</a>
{% endif %}

<span>
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
</span>

{% if page_obj.has_next  %}
<a href="?page={{page_obj.next_page_number}}">
    NEXT
</a>
{% endif %}

{% endblock content %}