{% extends 'base.html' %}


{% block page_title %}
Home
{% endblock page_title %}


{% block content %}

<div class="flex flex-wrap m-h-center w-95per">
    {% for menu in menus %}
    {% include 'mixins/menu_card.html' with menu=menu %}
    {% endfor %}
</div>

<div class="p-l-40 p-r-40">
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">
        PRV
    </a>
    {% endif %}

    <span>
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </span>

    {% if page_obj.has_next  %}
    <a href="?page={{page_obj.next_page_number}}">
        NEXT
    </a>
    {% endif %}
</div>

{% endblock content %}