{% extends 'base.html' %}

{% block page_title %}
Favorite List
{% endblock page_title %}

{% block content %}

{% for list in lists %}
<div class="signup-form m-t-10">
    <p><b>Menu: </b><a href="{% url 'menus:detail' list.menu.pk %}">{{ list.menu }}</a></p>
    <p>
        <b>Food Type: </b>
        {% for f in list.menu.food_type.all %}
        {% if forloop.last %}
        {{f}}
        {% else %}
        {{f}},
        {% endif %}
        {% endfor %}
    </p>
    <p><b>Price: </b>{{ list.menu.price }}</p>
    <a href="{% url 'lists:delete-item' list.pk %}"><button>Delete this menu</button></a>
</div>
{% endfor %}

<div>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">
        PRV
    </a>
    {% endif %}

    <span>
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </span>

    {% if page_obj.has_next  %}
    <a href="?page={{page_obj.next_page_number}}">
        NEXT
    </a>
    {% endif %}
</div>
{% endblock content %}