/* display declaration */
.flex {
    display: flex;
}


/* flex wrap declaration */
.flex-wrap {
    flex-wrap: wrap;
}


/* width declaration */
.w-10per {
    width: 10%;
}

.w-50per {
    width: 50%;;
}

.w-95per {
    width: 95%;
}


/* height declaration */
.h-200 {
    height: 200px;
}


/* flex-grow declaration */
.f-g-1 {
    flex-grow: 1;
}

.f-g-3 {
    flex-grow: 3;
}

.f-g-6 {
    flex-grow: 6;
}


/* flex-basis declaration */
.f-b-30per {
    flex-basis: 30%;
}


/* justify-item declaration */
.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}


/* margin declaration */
.m-r-40px {
    margin-right: 40px;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-h-center {
    margin: 0 auto;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-l-10 {
    margin-left: 10px;
}

.m-r-10 {
    margin-right: 10px;
}


/* padding declaration */
.p-l-40 {
    padding-left: 40px;
}

.p-r-40 {
    padding-right: 40px;
}


/* position declaration */
.position-relative {
    position: relative;
}


/* boarder declaration */
.b-b {
    border-bottom: 1px solid;
}


/* text align declaration */
.text-align-center {
    text-align: center;
}


/* custom declaration */
.child-has-m-r-40px li {
    margin-right: 40px;
}


.food-card-item {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.food-card-item-title {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    background: rgba(255,255,255,0.5);
}

footer {
    background: black;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

.social-login {
    text-align: center;
    margin: 30px auto;
    width: 50%;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

.signup-form {
    width: 50%;
    border: 1px solid;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}

.chatting-form {
    width: 90%;
    border: 1px solid;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}

.chatting-bubble {
    border: 1px solid;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;    
}

.have-account {
    font-size: 20px;
    text-align: center;
}

.menu-detail {
    text-align: center;
    width: 50%;
    margin: 50px auto;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

.review {
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 0;
}

.review-item {
    margin: 10px 0;
}

.message {
    list-style: none;
    position: absolute;
    width: 20%;
    background: lightgreen;
    border-radius: 5px;
    height: 50px;
    margin: 10px 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    animation: messageFadeIn 5s ease-in-out forwards;
}

.message-container {
    display: flex;
    justify-content: center;
}

@keyframes messageFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    5% {
        opacity: 1;
        transform: translateY(10px);
    }
    95% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.photo-btn {
    width: 130px;
    border-radius: 5px;
}