{% extends "base.html" %}

{% block page_title %}
{{business_obj.name}}'s Profile
{% endblock page_title %}

{% block content %}

<div class="menu-detail">
    <div>
        <span><b>Name: </b>{{business_obj.name}}</span>
    </div>
    <div>
        <span><b>Description: </b>{{business_obj.description}}</span>
    </div>
    <div>
        <span><b>State: </b>{{business_obj.state}}</span>
    </div>
    <div>
        <span><b>Taste: </b>{{business_obj.each_rating.taste}}, <b>Portion: </b>{{business_obj.each_rating.portion}},
            <b>Value: </b>{{business_obj.each_rating.value}}, <b>Location:
            </b>{{business_obj.each_rating.location}} / <b>Avg: </b>{{business_obj.total_rating}}</span>
    </div>
    <div>
        <span><b>Review: </b>{{business_obj.reviews.count}}</span>
        {% for r in business_obj.reviews.all %}
        <div class="review">
            <p class="review-item"><b>{{r.user}} / {{r.created|date:'F-Y'}}:</b></p>
            <p><b>Taste: </b>{{r.get_each_rating.taste}}, <b>Portion: </b>{{r.get_each_rating.portion}},
                <b>Value: </b>{{r.get_each_rating.value}}, <b>Location:
                </b>{{r.get_each_rating.location}}</p>
            <p>{{r.review}}</p>
        </div>
        {% endfor %}
    </div>

    {% if business_obj.owner == user %}
    <div class="m-t-10 m-b-10">
        <a href="{% url 'menus:create' business_obj.pk %}">
            <button>
                Add Menu
            </button>
        </a>
    </div>
    {% endif %}

    {% if business_obj.menus.count > 0 %}
    <h3>{{business_obj.name}}'s currently available menu</h3>
    <div>
        {% for menu in business_obj.menus.all %}
        <div class="w-50per">
            {% include 'mixins/menu_card.html' with menu=menu %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}